@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 600px;
  margin: 10px 0;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
  margin: 10px 0;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin: 5px 0;
}

.header {
  height: 10vh;
  padding: 10px;

  display: flex;
  justify-content: space-between;
}

.left-links, .right-links {
  display: flex;
  gap: 10px;
  list-style-type: none;
}

.content {
  height: 75vh;
  display: flex;
  flex: 0 1 auto;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 10vh;
  padding: 10px;
  background-color: #eeeeee;

  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
  align-items: flex-end;
}
